@import '../../css/vars.scss';

.type {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: white;
  pointer-events: all;
  width: 100%;
  height: 100%;

  &__title {
    font-size: $titleSize;
    padding: 35px 15px;
    text-align: left;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3333%;
    font-size: $textSize;
    padding: 35px 15px;
    border-left: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: center;

    transition: background-color 350ms ease-in-out;

    &:active {
      background-color: rgb(224, 224, 224);
    }

    &:last-child {
      border-right: 1px solid rgb(224, 224, 224);
    }

    &:nth-child(-n + 3) {
      border-top: 1px solid rgb(224, 224, 224);
    }

    &:nth-child(3n) {
      border-right: 1px solid rgb(224, 224, 224);
    }
  }

  &__btn-add {
    width: 100%;
    text-align: center;
    font-size: $titleSize;
    background-color: aquamarine;
  }

  &__btn-clear {
    width: 100%;
    text-align: center;
    font-size: $titleSize;
    background-color: burlywood;
  }
}
